* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  /* border: 1px solid; */
}
body {
  position: relative;
}
.header-section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("./images/bg.png");
  background-size: cover;
  padding-top: 10rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: 20%;
  margin-left: -35px;
}

.sub-line {
  color: #fff;
  padding: 20px 0 30px;
  font-size: 20px;
  text-transform: capitalize;
  word-spacing: 2px;
  position: relative;
  font-weight: 300;
}

.sub-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 1px;
  background: #fff;
}

.sub-line::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}

.search-box {
  /* display: block; */
  margin: 60px auto 20px;
  width: 40%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
  text-transform: capitalize;
}

.search-btn {
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  cursor: pointer;
  background: #0a1113;
  color: #fff;
  margin-bottom: 5%;
}

.gallery {
  width: 100%;
  padding: 40px;
  background: #fff;
  columns: 4;
  column-gap: 20px;
  position: relative;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  background: #f9f9f9;
  -webkit-box-shadow: 1px 0px 12px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px 0px 12px -1px rgba(0, 0, 0, 0.87);
}
.user-image {
  width: 30%;
  border-radius: 50%;
}

.popup-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 10rem;
  background-color: rgba(18, 28, 29, 0.9);
}

.info-container {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  justify-content: center;
  /* align-items: center; */
  /* background-color: aqua; */
  line-height: 2.5;
  font-size: 1.5rem;
}
.fa-xmark {
  position: absolute;
  right: 5px;
  top: 5px;
}
